.concon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid white;
  margin-top: 10px;
  .orderdetails_container {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 1rem 0;

    .element {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 100px;
      height: 80px;
      object-fit: cover;
      border-radius: 10px;
      border: 2px solid white;
    }
  }
}

.elelele {
  width: 100%;
  min-height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 2rem;
  padding: 0.5rem;
  color: white;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .ord_cont .orders_container .single_conatiner222 .el {
    width: 60px;
  }
  .elelele {
    gap: 5rem;
  }
  .concon .orderdetails_container {
    gap: 0;
  }
  .ord_cont .orders_container .single_conatiner .el {
    width: 60px;
  }
  .ord_cont .orders_container .single_conatiner {
    gap: 5rem;
  }
}

@media (max-width: 890px) {
  .elelele {
    font-size: 0.8rem;
    gap: 3rem;
  }
  .concon .orderdetails_container {
    font-size: 0.8rem;
  }
  .ord_cont .orders_container .single_conatiner {
    gap: 4rem;
    font-size: 0.8rem;
  }
  .ord_cont .orders_container .single_conatiner {
    gap: 3rem;
  }
}

@media (max-width: 762px) {
  .concon .orderdetails_container img {
    height: 60px;
  }
  .concon .orderdetails_container {
    font-size: 0.6rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
  }
  .ord_cont .orders_container .single_conatiner {
    font-size: 0.6rem;
  }
  .elelele {
    font-size: 0.6rem;
  }
  .ord_cont .orders_container .single_conatiner222 .status {
    font-size: 0.6rem;
  }
  .ord_cont .orders_container .single_conatiner {
    gap: 3rem;
  }
  .ord_cont .orders_container .single_conatiner222 .status_remove button {
    top: 0;
    right: 10px;
  }
}
@media (max-width: 690px) {
  .elelele {
    gap: 2rem;
  }
  .ord_cont .orders_container .single_conatiner {
    gap: 2rem;
  }
  .ord_cont .orders_container .single_conatiner222 .status_remove button {
    font-size: 8px;
  }
}

@media (max-width: 630px) {
  .ord_cont .orders_container .single_conatiner {
    display: none;
  }
  .ord_cont .orders_container .single_conatiner222 {
    width: calc(100% - 1rem);
  }

  .ord_cont .orders_container .single_conatiner222 .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .elelele {
    gap: 1rem;
    height: 4rem;
  }
  .concon .orderdetails_container {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .ord_cont {
    padding: 100px 30px 0px 30px;
  }
  .ord_cont .orders_container {
    justify-content: center;
  }
  .concon .orderdetails_container .element {
    flex-direction: column;
  }
  .concon .orderdetails_container img {
    width: 60px;
  }
}
@media (max-width: 350px) {
  .concon .orderdetails_container img {
    width: 45px;
  }
}
