.cartt_container {
  min-height: 100svh;
  padding: 6.25rem 6.25rem;
  font-family: "poppins", sans-serif;
  color: white;

  .cart_inner_container {
    display: flex;
    .cart_contents {
      width: 70%;
      min-height: 40svh;
      padding: 2rem;
      border: 2px solid white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      box-shadow: -5px 5px 1px rgba($color: rgb(129, 129, 129), $alpha: 1),
        -10px 10px 1px rgba($color: rgb(89, 89, 89), $alpha: 1),
        -15px 15px 1px rgba($color: rgb(46, 46, 46), $alpha: 1);

      .inner {
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .item_card {
      height: 100px;
      width: 100%;
      display: flex;
      gap: 1rem;
      border-radius: 10px;
      background-color: rgba($color: #424242, $alpha: 0.5);

      .closeBTN {
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: 1rem 1rem;
        span {
          cursor: pointer;
          font-size: 1.1rem;

          &:hover {
            color: #888;
          }
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
          padding: 1rem;
          width: 4rem;
          border-radius: 20px;
          height: calc(100% - 2rem);
          object-fit: cover;
        }
      }

      .description {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        color: white;
        text-align: center;
        .name {
          width: 33.33%;
        }
        .quantity {
          width: 33.33%;
          text-align: center;
        }

        .price {
          width: 33.33%;
        }
      }
    }
  }
}

.item_card1 {
  width: 100%;
  display: flex;
  gap: 1rem;

  .closeBTN {
    padding-left: 45.2px;
  }

  .image {
    span {
      padding-left: 96px;
    }
  }

  .description {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    color: white;
    text-align: center;
    .name {
      width: 33.33%;
    }
    .quantity {
      width: 33.33%;
      text-align: center;
    }

    .price {
      width: 33.33%;
    }
  }
}

.checkout_container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  .checkout {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: -5px 5px 1px rgba($color: rgb(129, 129, 129), $alpha: 1),
      -10px 10px 1px rgba($color: rgb(89, 89, 89), $alpha: 1),
      -15px 15px 1px rgba($color: rgb(46, 46, 46), $alpha: 1);
    gap: 2rem;
    .total {
      span {
        font-weight: 600;
        margin-right: 1rem;
      }
    }
    h4 {
      margin-top: 0;
      padding: 1rem 0;
      border-bottom: 1px solid white;
    }

    .checkout_btn {
      border: none;
      padding: 1rem;
      width: 8rem;
      border-radius: 30px;
      font-family: "poppins", sans-serif;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 3px 1px #888;
        transform: translateY(-3px);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

@media (max-width: 1440px) {
  .cartt_container .cart_inner_container {
    justify-content: center;
  }
  .cartt_container .cart_inner_container .cart_contents {
    width: 50%;
  }
}

@media (max-width: 1240px) {
  .cartt_container .cart_inner_container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .cartt_container .cart_inner_container .cart_contents {
    width: calc(100% - 4rem);
  }
  .checkout_container {
    width: 100%;
  }
  .checkout_container .checkout {
    width: 100%;
    padding: 1rem 4rem;
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .cartt_container .cart_inner_container .cart_contents {
    font-size: 0.8rem;
  }
  .checkout_container .checkout {
    font-size: 0.8rem;
  }
  .checkout_container .checkout .checkout_btn {
    font-size: 0.8rem;
    width: 6rem;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 762px) {
  .cartt_container .cart_inner_container .item_card .description {
    padding: 0.5rem 0;
  }
  .item_card1 .description {
    padding: 0;
  }
  .checkout_container .checkout {
    gap: 0.5rem;
  }
  .cartt_container {
    padding: 6.25rem 30px;
  }
}

@media (max-width: 542px) {
  .cartt_container .cart_inner_container .cart_contents {
    font-size: 0.6rem;
  }
  .checkout_container .checkout {
    font-size: 0.6rem;
  }
  .checkout_container .checkout .checkout_btn {
    font-size: 0.6rem;
    width: 6rem;
    padding: 0.8rem 1rem;
  }
  .item_card1 .description {
    font-size: 0.6rem;
  }
  .cartt_container .cart_inner_container .item_card .closeBTN span {
    font-size: 0.6rem;
  }
}

@media (max-width: 483px) {
  .item_card1 .description {
    display: none;
  }
  .checkout_container .checkout .checkout_btn {
    width: 6rem;
    padding: 0.8rem 1rem;
  }
  .item_card1 .description {
    gap: 0.5rem;
  }
  .cartt_container .cart_inner_container .item_card .description {
    gap: 0.5rem;
  }
  .cartt_container .cart_inner_container .cart_contents {
    gap: 0.5rem;
  }

  .cartt_container .cart_inner_container .cart_contents {
    padding: 1rem 1rem;
    width: calc(100% - 2rem);
  }
  .cartt_container h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .cartt_container .cart_inner_container .cart_contents .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartt_container .cart_inner_container .item_card .image img {
    padding: 0.5rem;
    width: 50px;
    height: 50px;
  }
  .checkout_container .checkout .checkout_btn {
    width: 5rem;
    padding: 0.6rem 0.8rem;
  }
  .cartt_container {
    padding: 6.25rem 2rem 0rem 2rem;
  }
  .cartt_container .cart_inner_container .item_card .description {
    font-size: 0.5rem;
  }
  .cartt_container .cart_inner_container .item_card{
    height: 80px;
  }
}
