.subhero_container {
  height: 100svh;
  position: relative;
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  .animated {
    position: absolute;
    width: 15rem;

    &:nth-child(1) {
      right: calc(100% - 25rem);
    }
    &:nth-child(2) {
      right: calc(100% - 45rem);
    }
    &:nth-child(3) {
      right: calc(100% - 65rem);
    }
    &:nth-child(4) {
      right: calc(100% - 85rem);
    }
    &:nth-child(5) {
      right: calc(100% - 25rem);
      top: 31rem;
    }
    &:nth-child(6) {
      right: calc(100% - 45rem);
      top: 30rem;
    }
    &:nth-child(7) {
      right: calc(100% - 65rem);
      top: 30rem;
    }
    &:nth-child(8) {
      right: calc(100% - 85rem);
      top: 30rem;
    }
    &:nth-child(9) {
      right: calc(100% - 25rem);
      top: -31rem;
    }
    &:nth-child(10) {
      right: calc(100% - 45rem);
      top: -30rem;
    }
    &:nth-child(11) {
      right: calc(100% - 65rem);
      top: -31rem;
    }
    &:nth-child(12) {
      right: calc(100% - 85rem);
      top: -31rem;
    }
    &:nth-child(13) {
      right: calc(100% - 25rem);
      top: 62rem;
    }
    &:nth-child(14) {
      right: calc(100% - 45rem);
      top: 62rem;
    }
    &:nth-child(15) {
      right: calc(100% - 65rem);
      top: 62rem;
    }
    &:nth-child(16) {
      right: calc(100% - 85rem);
      top: 62rem;
    }
    &:nth-child(17) {
      left: -10rem;
      top: 62rem;
    }
    &:nth-child(18) {
      left: -10rem;
      top: 31rem;
    }
    &:nth-child(19) {
      left: -10rem;
      top: -31rem;
    }
    &:nth-child(20) {
      left: -10rem;
      top: 0rem;
    }
    &:nth-child(21) {
      left: 90rem;
      top: 62rem;
    }
    &:nth-child(22) {
      left: 90rem;
      top: 31rem;
    }
    &:nth-child(23) {
      left: 90rem;
      top: -31rem;
    }
    &:nth-child(24) {
      left: 90rem;
      top: 0rem;
    }
  }
}

.glass_container {
  position: absolute;
  height: 100svh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(5.3px);
  font-family: "poppins", sans-serif;

  .subhero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1 {
      font-size: 4rem;
      text-align: center;

      &::selection {
        background-color: #888;
      }
    }
    p {
      width: 40rem;

      text-align: center;
      &::selection {
        background-color: #888;
      }
    }
  }
}

@media (max-width: 645px) {
  .glass_container .subhero_text p {
    width: fit-content;
    padding: 1rem;
  }
  .glass_container .subhero_text h1 {
    padding: 1rem;
    font-size: 2rem;
  }
  .search_container input {
    width: fit-content;
  }

  .products_title {
    font-size: 2rem;
  }
}
